/*ANCHOR max-width: 1350 */
@media screen and (max-width: 1350px) {
    .bonusItemTop img {
        width: 50%;
    }
    .programWrap .img {
        right: 0;
    }
    .programWrap .img img {
        width: 47vw;
    }
    .programWrap {
        padding: 40px 0 280px;
    }
    .tabsWrap {
        overflow: scroll;
    }
    .tariffsSection .tabs {
        min-width: 1267px;
    }
    .tariffCard {
        max-width: 30.5%;
    }

}
/*ANCHOR max-width: 1200 */
@media screen and (max-width: 1200px) {
    .navigation a {
        font-weight: 500;
        font-size: 1vw;
    }
    h1 {
        font-size: 4vw;
    }
    .popupWindow .title {
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    .desc {
        font-size: 20px;
    }
    .mainOffer .desc {
        width: 50%;
    }
    .mainOffer .title span:last-child {
        display: table;
    }
    .mainOfferWrap .img img {
        width: 470px;
    }
    .benefitItem {
        max-width: 20.5vw;
    }
    .formWrap .img img,
    .programOffer,
    .offerSection .offer {
        max-width: 50vw;
    }
    .offerSection .img {
        bottom: -60%;
    }
    .programWrap .img {
        bottom: 23%;
    }
    .bonusSection h2 span::before {
        content: '';
        position: absolute;
        top: -46%;
        left: -6%;
        background: url(../img/svg/oval.svg) no-repeat 0 0 / contain;
        width: 100%;
        height: 75px;
    }
    .bonusItem {
        width: 29vw;
    }
    .bonusItem .text {
        padding: 0 20px;
    }
    
    .innerContent .images {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }    
    .innerContent .scale {
        margin-bottom: 15px;
    }
    .innerBanner {
        margin-top: 10px;
    }
    .tariffCard {
        max-width: 30%;
    }
    .tariffCard .buttons a {
        padding: 9px 10px;
    }
    .tariffCard .title {
        font-size: 20px;
    }
}
/*ANCHOR max-width: 993 */
@media screen and (max-width: 993px) {
    .headerFigure {
        -webkit-clip-path: polygon(50% 0%,61.80% 0.00%,76.22% 0.00%,85.16% 0.00%,100.00% 0.00%,100.00% 27.17%,100.00% 90.63%,95.32% 92.51%,90.20% 94.02%,84.94% 95.21%,79.05% 96.46%,73.04% 97.50%,65.65% 98.75%,51.46% 100%,43.55% 100%,35.44% 99.38%,25.62% 98.75%,16.42% 97.50%,10.09% 95.63%,4.97% 93.56%,0.00% 90.43%,0.00% 26.55%,0.00% 0.00%,14.40% 0.00%,27.15% 0.00%,41.12% 0.00%);
                clip-path: polygon(50% 0%,61.80% 0.00%,76.22% 0.00%,85.16% 0.00%,100.00% 0.00%,100.00% 27.17%,100.00% 90.63%,95.32% 92.51%,90.20% 94.02%,84.94% 95.21%,79.05% 96.46%,73.04% 97.50%,65.65% 98.75%,51.46% 100%,43.55% 100%,35.44% 99.38%,25.62% 98.75%,16.42% 97.50%,10.09% 95.63%,4.97% 93.56%,0.00% 90.43%,0.00% 26.55%,0.00% 0.00%,14.40% 0.00%,27.15% 0.00%,41.12% 0.00%);
    }
    /*BURGER*/
    .burger {
        border: 0;
        outline: none;
        background: transparent;
        position: relative;
        z-index: 10;
    }
    .burger span {        
        -webkit-transition: all .3s ease;        
        -o-transition: all .3s ease;        
        -moz-transition: all .3s ease;        
        transition: all .3s ease;
        width: 19px;
        height: 3px;
        display: block;
        background: var(--color-5);
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
                border-radius: 10px;
    }
    .burger span:not(:last-child) {
        margin-bottom: 3px;
    }
    
    .burger.active span {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        margin: 0;
        background: var(--color-5);
    }
    .burger.active span:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(1px, 2px);
           -moz-transform: rotate(45deg) translate(1px, 2px);
            -ms-transform: rotate(45deg) translate(1px, 2px);
             -o-transform: rotate(45deg) translate(1px, 2px);
                transform: rotate(45deg) translate(1px, 2px);
    }
    .burger.active span:nth-child(2) {
        display: none;
    }
    .burger.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(0, 0);
           -moz-transform: rotate(-45deg) translate(0, 0);
            -ms-transform: rotate(-45deg) translate(0, 0);
             -o-transform: rotate(-45deg) translate(0, 0);
                transform: rotate(-45deg) translate(0, 0);
    }
    /*Burger end*/
    .mobileElement {
        display: block;
    }
    .offerSection .img img {
        width: 60vw;
    }
    .partnerCard {
        width: 100%;

    }
    .partnerCard img {
        width: 70%;
    }
    .navigation {
        display: none;
    }
    .mobileNav {
        position: absolute;
        opacity: 0;
        top: 0;
        -webkit-transform: translate(0, -100%);
           -moz-transform: translate(0, -100%);
            -ms-transform: translate(0, -100%);
             -o-transform: translate(0, -100%);
                transform: translate(0, -100%);
        padding: 68px 60px 60px 16px;
        font-size: 17px;
        font-weight: 500;
    }
    .mobileNavSoc {
        border-top: 1px solid rgba(107, 114, 128, 0.3);
        border-bottom: 1px solid rgba(107, 114, 128, 0.3);
        margin: 25px 0;
        padding: 20px 0;
    }
    .mobileNavSoc .title {
        margin-bottom: 16px;
    }
    .mobileNavSoc a {
        background: #F5F9FF;
        width: 100%;
        max-width: 160px;
        margin: 0;
        -webkit-border-radius:  12px;
           -moz-border-radius:  12px;
                border-radius:  12px;
        padding: 20px;
    }
    .mobileNavSoc a .img {
        margin: 0 0 10px 0;
    }
    .mobileNavLinks a {
        font-size: 13px;
        color: #6B7280;
        margin-bottom: 12px;
    }
    .mobileNav .copyright {
        opacity: .5;
        color: #6B7280;
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
    }
    .mobileNavSoc a:not(:last-child) {
        margin-right: 20px;
    }
    .mobileNav li:not(:last-child) {
        margin-bottom: 24px;
    }
    .mobileNav.active {
        opacity: 1;
        background: #fff;
        z-index: 10;
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);
        left: 0;
        height: 100vh;
        width: 100%;
    }
    .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .mobileNav .menu a:hover {
        color: #6B7280;
        padding-left: 5px;
        border-left: 1px solid #F5481F;
    }
    .offerSecondWrap .btn img,
    .topPanel .btn {
        display: none;
    }

    .mainOfferWrap .img img {
        width: 410px;
    }
    .benefitItem {
        max-width: 46vw;
    }
    .planItem {
        max-width: 355px;
    }
    .bonusItem {
        width: 100%;
        max-width: 43.5%;
    }
    .footerMenu ,
    .offerSecondWrap .btn {
        margin: 0;
    }
    .benefitSection,
    .listSection,
    .formWrap,
    .reviewSection,
    .faqSection,
    .offerSecondWrap,
    .bonusSection {
        padding: 50px 0;
    }
    .list li {
        width: 100%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .programWrap {
        padding: 40px 0 183px;
    }
    .planSection {
        padding: 50px 0 90px;
    }
    
    .tariffCard {
        max-width: 43%;
    }
    .partnerSection {
        padding: 100px 0 0;
    }
}

@media (min-width: 768px) and (max-width: 993px) {
    .subscribeForm .btn {
        max-width: 135px;
    }
    .subscribeForm label {
        max-width: 40vw;
    }
    .headerFigure.bgCold .mainOfferWrap {
        padding: 95px 0 80px;
    }
    .footerMenuItem {
        width: 50%;
    }
    .formWrap .img img {
        max-width: 33vw;
    }
    .formSection .form {
        max-width: 100%;
    }
}

/*ANCHOR max-width: 768 */
@media screen and (max-width: 767px) {
    br {
        display: none;
    }
    .topPanel .logo img {
        width: 170px;
    }
    .mainOfferWrap {
        padding: 30px 0 395px;
    }
    .mainOffer .buttons {
        margin-top: 20px;
    }
    h1 {
        font-size: 7vw;
    }
    h3 {
        font-size: 23px;
    }
    h4, label {
        font-size: 20px;
    }
    body, .faqItem.active .desc, .planItem .desc {
        font-size: 15px;
    }
    .btn.bgOrange,
    .link {
        padding: 16px 30px;
    }
    .btn, .navigation a, .link {
        font-size: 14px;
    }
    .mainOffer .title span:last-child {
        display: table;
        margin-top: -13px;
    }
    .mainOffer .desc {
        font-size: 17px;
        margin: 15px 0 0;
        line-height: var(--lh-1);
    }
    .mainOfferWrap .img img {
        max-width: 345px;
        width: 100%;
    }
    .benefitSection, .listSection, .formWrap, .reviewSection, .faqSection, .offerSecondWrap, .bonusSection {
        padding: 45px 0;
    }
    .benefitSection h2 span:before {
        width: 160%;
        left: auto;
        right: 0;
    }
    .benefitItem .text {        
        line-height: 21px;
    }
    .benefitSection h2 {
        margin-bottom: 25px;
    }
    .benefitItem .img {
        margin-bottom: 7px;
    }
    .planSection {
        padding: 38px 0 30px;
    }
    .planSection h2 {
        margin-bottom: 35px;
    }
    .partnerColumn,
    .centerWrapper {
        margin: 0;
    }
    .planList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0;
    }
    .planItemTop {
        padding: 30px 15px 25px;
        height: auto;
    }
    .planItem .title {
        margin-bottom: 10px;
    }
    .planItem ul {
        padding: 30px 10px 30px 60px;
    }
    .planItem li:not(:last-child) {
        margin-bottom: 23px;
    }
    .planItem {
        margin-bottom: 35px;
    }
    .partnerSection h2 {
        margin-bottom: 15px;
    }
    .planItemTop .desc {
        line-height: 23px;
    }
    .offerSection {
        padding: 40px 0px 73px;
    }
    .programOffer {
        max-width: 100%;
    }
    .formWrap .img img {
        width: 100%;
        max-width: 340px;
    }
    .offerSection .offer {
        max-width: 65%;
        position: relative;
        z-index: 1;
    }
    .desc {
        font-size: 17px;
    }
    .offerSection .desc {
        margin-bottom: 35px;
    }
    .offerSection .img {
        bottom: -62%;
    }
    .partnerSection {
        padding: 110px 0 15px;
    }
    .partner {
        margin: 0;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .partnerColumn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .partnerCard {
        width: 100%;
        height: auto;
        padding: 25px;
    }
    .partnerSection .desc {
        margin-bottom: 23px;
    }
    .partnerCard img {
        width: 100%;
        height: auto;
    }
    .programOffer .title {
        margin-bottom: 10px;
        text-align: center;
    }
    .programOffer .desc {
        text-align: center;
        line-height: 21px;
    }
    .programWrap .img {
        position: unset;
        width: 100%;
    }
    .programWrap .img img {
        width: 100%;
        max-width: 367px;
        margin: 0 auto;
        display: block;
    }
    .programOffer .btn {
        padding: 13px 75px;
        position: absolute;
        bottom: 45px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 255px;
    }
    .bonusSection h2 {
        margin-bottom: 11px;
    }
    .bonusSection .desc {
        margin-bottom: 30px;
    }
    .bonusList {
        margin: 0;
    }
    .bonusItemTop {
        margin-bottom: 0;
    }
    .bonusSection .btn {
        margin: 20px auto 0;
        max-width: 245px;
        padding: 13px 0;
    }
    .offerSecondWrap {
        padding: 27px 0 35px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .offerSecondWrap .title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;
    }
    .offerSecondWrap .btn {
        margin-top: 38px;
        padding: 13px 25px;
    }
    .faqSection h2 {
        margin-bottom: 35px;
    }
    .faqItem {
        padding: 0 10px 0 20px;
    }
    
    .faqItem.active {
        padding: 0 10px 22px 20px;
    }
    .faqItem .title {
        width: 80%;
        height: 114px;
    }
    .faqItem.active .desc {
        line-height: 20px;
    }
    .faqItem .desc p:not(:last-child),
    .faqItem:not(:last-child) {
        margin-bottom: 20px;
    }
    .faqItem::after {
        top: 19px;
        right: 12px;
    }
    .reviewSection h2 {
        margin-bottom: 30px;
        text-align: center;
    }
    .reviewSlider .swiper-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -10px;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .reviewSliderItem {
        padding: 15px 15px 25px 20px;
        margin-bottom: 18px;
        width: 43.8vw;
        margin: 0 10px 10px; 
    }
    .reviewSliderItem .more,
    .reviewSliderItem p {
        line-height: 21px;
        margin-bottom: 10px;
    }
    h4.reviewAuthorName {
        font-size: 17px;
        font-weight: 500;
    }
    .reviewAuthorName span {
        display: block;
        font-size: 13px;
        font-weight: 400;
    }
    .reviewAuthor {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .reviewSection {
        padding-bottom: 20px;
    }
    .formWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 0 30px;
    }
    .formSection .form {
        max-width: 100%;
        margin-top: 20px;
    }
    label {
        font-size: 15px;
        margin: 8px 0;
    }
    .form h2 {
        margin-bottom: 11px;
    }
    .form .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .customSelect,
    .form label input {
        margin-top: 5px;
    }
    .select-selected,
    .form label input {
        height: 50px;
    }
    .form .wrapper label:not(:last-child) {
        margin-right: 0;
    }
    .form button {
        width: 100%;
    }
    .listSection {
        padding: 30px 0;
    }
    .listSection h2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .listSection .btn {
        max-width: 100%;
        margin: 0;
    }
    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 15px;
    }
    .footerSection {
        padding: 30px 0;
    }
    .footerLogo .logo {
        width: 120px;
        margin-bottom: 10px;
    }
    .footerLogo .logo img {
        width: 100%;
    }
    .footerLogo .desc {
        font-size: 13px;
        font-weight: 500;
    }
    .footerMenu {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        width: 950px;
    }
    .footerMenuItem {
        width: auto;
        margin: 0 18px 0 0;
        padding: 17px 0;
    }
    .scrollMenu {
        overflow: overlay;
        border-top: 0.5px solid rgba(51, 51, 51, 0.5);
        border-bottom: 0.5px solid rgba(51, 51, 51, 0.5);
        margin: 15px 0 23px;
    }
    .footerSocial {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footerSocialLink {
        margin: 0 23px 0 0;
    }
    .footerSocialLink .img {
        width: 37px;
        height: 37px;

    }
    .footerSocialLink .img.oval {
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
    }
    .linksWrap {
        margin-bottom: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 826px;
    }
    .scrollLinks {
        overflow: overlay;
    }
    .partnerSection .centerWrapper {
        display: none;
    }
    .partnersSlider {
        display: block;
        position: relative;
    }
    .partnersSlider .swiper-pagination {
        bottom: -25px;
    }
    .partnersSlider .swiper-pagination-bullet {
        background: #FEE9E5;
    }
    .partnersSlider .swiper-pagination-bullet-active {
        background: #F5481F;
    }
    .headerFigure.bgCold .mainOfferWrap .img {
        right: 0;
        left: 0;
        text-align: center;
    }
    .headerFigure.bgCold .mainOfferWrap .img img {
        max-width: 477px;
        width: 100%;
    }
    .subscribeForm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .subscribeForm .btn {
        margin: 15px 0 0;
    }
    .iconMail {
        display: none;
    }
    .subscribe .title {
        font-size: 20px;
        text-align: center;
    }
    .subscribe .desc {
        font-size: 13px;
        text-align: center;
    }
    .subscribe .subscribeForm {
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                text-align: center;
    }
    .subscribe .subscribeForm label,
    .subscribe .subscribeForm .btn {
        width: 100%;
        max-width: 500px;
    }
    .mainOfferWrap .img {
        right: 0;
        left: 0;
        text-align: center;
    }    
    .innerContentHeader h2 {
        font-size: 26px;
    }
    article,
    .innerContentHeader {
        padding-right: 30px;
    }
    .innerContentBody p {
        width: 100%;
        font-weight: 400;
    }
    .innerContent h3 {
        font-size: 20px;           
        margin: 34px 0 16px;
    }
    .innerContent a[download] span {
        font-size: 15px;
    }
    .innerContent a[download],
    .innerContentHeader .timer {
        font-size: 13px;
    }
    .innerContent .images li {
        width: 50%;
    }
    .innerContent .scale {
        max-width: 90%;
        padding: 0 20px;
    }
    .shareRef {
        position: relative;
        display: none;
    }
    .shareLinks a {
        margin-left: 15px;
    }
    article::before {
        left: 15px;
    }
    .innerContent article {
        padding-left: 50px;
    }
    .innerContentBody p:not(:last-child) {
        margin-bottom: 20px;
    }
    .tab.active ~ .activeElement {
        height: 2px!important;
        bottom: 0;
        background: var(--color-5);
    }
    .tariffCard .price {
        font-size: 17px;
    }
    .tariffCard .buttons a {
        padding: 9px 7px;
        font-size: 15px;
        font-weight: 600;
    }
    .tariffCard .title {
        font-weight: 600;
    }
    .tariffsSection .desc,
    .tab {
        font-size: 15px;
        font-weight: 400;
    }
    .headerTariff .mainOfferWrap {
        padding-bottom: 245px;
    }
    .headerTariff .mainOfferWrap .img {
        z-index: -1;
    }
    .tariffsSection {
        padding: 30px 0;
    }
    .mainOffer .desc {
        width: 100%;
    }
    .benefitItem {
        max-width: 42vw;
    }
    .list .item {
        padding-bottom: 20px;
    }
    .list .item .title {
        margin-bottom: 45px;
    }
    .listSection h3, .listSection h2 {
        width: 100%;
    }
}

@media (min-width: 568px) and (max-width: 680px) {
    .tariffCard .buttons a {
        font-size: 11px;
    }
}

/*ANCHOR max-width: 568 */
@media screen and (max-width: 568px) {
    
    .tariffCard {
        max-width: 100%;
        margin: 0 0 40px;
    }
    .tariffsSection .content {
        margin: 0;
    }
    .benefitItem {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .bonusItem {
        width: 100%;
        max-width: 100%;
        margin: 0 0 15px;
    }
    
    .list li {
        max-width: 100%;
    }
    .popupWindow {
        padding: 25px;
    }
    .reviewSliderItem {
        width: 100%;
    }
}

/*ANCHOR max-width: 500 */
@media screen and (max-width: 500px) {
    .headerFigure.bgCold .mainOfferWrap {
        padding-bottom: 77vw;
    }       
    .benefitItem {
        max-width: 100%;
        margin-bottom: 15px;
        padding: 40px 40px 25px 20px;
    }
}

/*ANCHOR max-width: 400 */
@media screen and (max-width: 400px) { 
    .mainOfferWrap {
        padding: 30px 0 103vw;
    }
}